.root {
  width: 100%;
  padding: 0 14px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userInfo {
      flex-grow: 1;
      width: 100px;
    }
  }

  .body {
    margin-bottom: 16px;
  }

  .imageContainer {
    padding-top: 12px;

    img {
      width: 100%;
      height: auto;
      border-radius: 6px;
    }
  }
}
