.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.block-fluid {
  padding: 16px 18px;
  border-radius: 12px;
  background-color: var(--vkui--color_background_content);
}

.hidden {
  position: absolute;
  overflow: 0;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

.text-on-surface-variant {
  color: var(--md-sys-color-on-surface-variant);
}
