.root {
  height: fit-content;

  .header {
    margin-bottom: 16px;
    padding: 4px 8px 0;
    font-weight: 500;

    .count {
      color: var(--md-sys-color-on-surface-variant);
    }
  }
}
