@use '@/styles/util' as *;

.root {
  height: 100%;
  overflow: hidden;

  .content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 24px;

    .imageContainer {
      height: 100%;
      background-size: cover;
      background-position-x: 20%;
      filter: brightness(0.9);
    }

    .authContainer {
      display: flex;
      justify-content: center;
      .panel {
        display: flex;
        flex-direction: column;
        width: 360px;
        padding: 32px;
        border-radius: 12px;
        background-color: var(--md-sys-color-surface);
        @include breakpoint-down(sm) {
          width: 100%;
          height: 100%;
          padding: 24px;
          border-radius: unset;
        }
      }
    }
  }
}
