@use '@/styles/util' as *;

.root {
  .container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 16px;
    overflow: hidden;
    @include breakpoint-down(md) {
      grid-template-columns: auto;

      .postsContainer {
        grid-row: 2;
      }
    }
  }
}
