@use '@/styles/util/' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .form {
    margin-bottom: 16px;

    .fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }
  }

  .instructions {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--md-sys-color-on-surface-variant);

    a {
      color: var(--md-sys-color-primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
